# -----------  Credentials  -----------
t.py
token.json
credentials.json
service_credentials.json

# -----------  TEMP Files  -----------
.DS_Store
.vscode
.prettierrc
__pycache__
user.json
users.json
tweet.json
rates.json
whitelist.txt
errors.txt
twitter-2019-12-19-0b6779fa1ee925b6e06149871038aaf59dbd309ce409206c9dcaee3d860bff51
twitter-2020-01-22-0b6779fa1ee925b6e06149871038aaf59dbd309ce409206c9dcaee3d860bff51/
index.html
test.py
