# -----------  Credentials  -----------
t.py
g.py
token.json
credentials.json

# -----------  TEMP Files  -----------
.DS_Store
__pycache__
users.json
tweet.json
whitelist.txt
twitter-2019-12-19-0b6779fa1ee925b6e06149871038aaf59dbd309ce409206c9dcaee3d860bff51
